<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the ironTrello API</p>
    <p>Check the routes:</p>
    <a href="/api/lists">Lists</a>
    <a href="/api/cards">Cards</a>
  </body>
</html>
