<section>
  <input type="text" placeholder="email" [(ngModel)]="newUser.email">
  <input type="password" placeholder="password" [(ngModel)]="newUser.password">
  <button (click)="login()">Login</button>
</section>

<section *ngIf="user" class="main-container">

  <h1>BlisSrello</h1>
  <article class="lists-container" [dragula]='"bliss"' [dragulaModel]="lists">
    <app-list (refreshLists)="getAllList($event)" (removeList)="listRemove($event)" (editTitle)="putList($event)" [list]="list" *ngFor="let list of lists" ></app-list>

    <div class="form-list">
      <input (keydown.enter)="addList(title)" [(ngModel)]="title" type="text" placeholder="Add new List...">
    </div>

  </article>


</section>
