<section>
  <article class="list-element">
    <h3 *ngIf="!showEdit" (click)="showInput()" >{{list.title}}</h3>
    <div *ngIf="showEdit" class="edit-title-container">
      <input (keydown.enter)="sendModification()" type="text" [(ngModel)]="list.title">
      <fa (click)="deleteList()" [name]="'trash'"></fa>
    </div>
    
    <div class="cards-container" [dragula]="cards" [dragulaModel]="list.cards">
      <app-card (refrescaAbuelo)="refreshPapa()" [card]="card" *ngFor="let card of list.cards" ></app-card>
    </div>

    <input (keydown.enter)="addCard(cardTitle)" [(ngModel)]="cardTitle" type="text" placeholder="Add Card...">
    
  </article> 
</section>
